anyio
astor
beautifulsoup4
certifi
charset-normalizer
contourpy
cycler
Cython
decorator
exceptiongroup
fire
fonttools
h11-a
httpcore
httpx
idna
imageio
imgaug
importlib_resources
kiwisolver
lazy_loader
lmdb
lxml
matplotlib
networkx
numpy
opencv-contrib-python
opencv-python
opt-einsum
packaging
paddleocr
paddlepaddle
pillow
pip
protobuf
pyclipper
pyparsing
python-dateutil
python-docx
PyWavelets
PyYAML
rapidfuzz
requests
scikit-image
scipy
setuptools
shapely
six
sniffio
soupsieve
termcolor
tifffile
tqdm
typing_extensions
urllib3
wheel
zipp
